.nav {
    grid-area: nav;
}

.nav li {
    display: inline;
    margin-left: 25px;
}

.messageNameWrapper {
    grid-area: mWrap;
}

.messageContentWrapper {
    grid-area: mCont;
}

.grid-container {
    display: grid;
    grid-template-areas: 'nav nav nav nav nav nav' 'mWrap mWrap mCont mCont mCont mCont';
    grid-gap: 10px;
}